<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsl.upmall.mapper.GrouponOrderDetailDao">

	<resultMap id="BaseResultMap" type="com.zsl.upmall.entity.GrouponOrderDetail">
		<id column="id" property="id" />
		<id column="detail_id" property="detailId" />
		<id column="groupon_order_master_id" property="grouponOrderMasterId" />
		<id column="voucher" property="voucher" />
	</resultMap>
	<sql id="Base_Column_List">
		id, detail_id, groupon_order_master_id, voucher
	</sql>
	
</mapper>