<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsl.upmall.mapper.OrderStatusDao">

	<resultMap id="BaseResultMap" type="com.zsl.upmall.entity.OrderStatus">
		<id column="id" property="id" />
		<id column="order_id" property="orderId" />
		<id column="order_status" property="orderStatus" />
		<id column="create_time" property="createTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, order_id, order_status, create_time
	</sql>
	
</mapper>