<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsl.upmall.mapper.OrderMasterDao">

	<resultMap id="BaseResultMap" type="com.zsl.upmall.entity.OrderMaster">
		<id column="id" property="id" />
		<id column="system_order_no" property="systemOrderNo" />
		<id column="transaction_order_no" property="transactionOrderNo" />
		<id column="pay_way" property="payWay" />
		<id column="member_id" property="memberId" />
		<id column="address_id" property="addressId" />
		<id column="shop_id" property="shopId" />
		<id column="total_goods_amout" property="totalGoodsAmout" />
		<id column="total_carriage" property="totalCarriage" />
		<id column="practical_pay" property="practicalPay" />
		<id column="hidden" property="hidden" />
		<id column="remark" property="remark" />
		<id column="tracking_company_id" property="trackingCompanyId" />
		<id column="tracking_number" property="trackingNumber" />
		<id column="order_status" property="orderStatus" />
		<id column="create_time" property="createTime" />
		<id column="wait_pay_time" property="waitPayTime" />
		<id column="pay_time" property="payTime" />
		<id column="wait_receive_time" property="waitReceiveTime" />
		<id column="finished_time" property="finishedTime" />
		<id column="cancel_time" property="cancelTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, system_order_no, transaction_order_no, pay_way, member_id, address_id, shop_id, total_goods_amout, total_carriage, practical_pay, hidden, remark, tracking_company_id, tracking_number, order_status, create_time, wait_pay_time, pay_time, wait_receive_time, finished_time, cancel_time
	</sql>

	<resultMap id="OrderListResultMap" type="com.zsl.upmall.vo.out.OrderListVo">
		<id column="orderId" property="orderId" />
		<id column="orderSn" property="orderSn" />
		<id column="orderStatus" property="orderStatus" />
		<id column="totalAmount" property="totalAmount" />
		<collection column="orderId" property="orderListProductList" select="getOrderListProductList"></collection>
		<collection property="totalProductCounts" column="orderId" select="getTotalProductCount"></collection>
	</resultMap>


	<select id="getOrderListByStatus" resultMap="OrderListResultMap">
		SELECT
			orderM.id orderId,
			orderM.member_id userId,
			orderM.system_order_no orderSn,
			orderM.practical_pay totalAmount,
		    orderM.order_status orderStatus
		FROM
			order_master orderM
		WHERE
			orderM.member_id = #{userId}
		<if test="orderStatus != -1 ">
			and orderM.order_status = #{orderStatus}
		</if>
		ORDER BY
		    orderM.create_time DESC
	</select>


	<resultMap id="OrderListProductListMap" type="com.zsl.upmall.vo.out.OrderListProductVo">
		<id column="productCount" property="productCount" />
		<id column="productName" property="productName" />
		<id column="productImg" property="productImg" />
		<id column="productPrice" property="productPrice" />
		<id column="productSpec" property="productSpec" />
	</resultMap>

	<select id="getOrderListProductList" resultMap="OrderListProductListMap">
		SELECT
			detailO.goods_count productCount,
		    detailO.goods_name productName,
			detailO.goods_img productImg,
			detailO.goods_price productPrice,
			detailO.goods_spec productSpec
		FROM
			order_detail detailO
		where detailO.order_id = #{orderId}
	</select>

	<select id="getTotalProductCount" resultType="java.lang.Integer">
		SELECT
			count(detailO.goods_count) totalProductCount
		FROM
			order_detail detailO
		WHERE
			detailO.order_id = #{orderId}
	</select>

</mapper>