<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsl.upmall.mapper.SkuCustomDao">

	<resultMap id="BaseResultMap" type="com.zsl.upmall.entity.SkuCustom">
		<id column="id" property="id" />
		<id column="sku_id" property="skuId" />
		<id column="combo_type" property="comboType" />
		<id column="combo_level" property="comboLevel" />
		<id column="combo_explain" property="comboExplain" />
	</resultMap>
	<sql id="Base_Column_List">
		id, sku_id, combo_type, combo_level, combo_explain
	</sql>
	
</mapper>