<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsl.upmall.mapper.SkuDao">

	<resultMap id="BaseResultMap" type="com.zsl.upmall.entity.Sku">
		<id column="id" property="id" />
		<id column="spu_id" property="spuId" />
		<id column="unique_code" property="uniqueCode" />
		<id column="sku_name" property="skuName" />
		<id column="cost_price" property="costPrice" />
		<id column="retail_price" property="retailPrice" />
		<id column="sales_volume" property="salesVolume" />
		<id column="stock" property="stock" />
		<id column="warn_stock" property="warnStock" />
		<id column="status" property="status" />
		<id column="sku_picture" property="skuPicture" />
		<id column="create_time" property="createTime" />
		<id column="update_time" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, spu_id, unique_code, sku_name, cost_price, retail_price, sales_volume, stock, warn_stock, status, sku_picture, create_time, update_time
	</sql>
	
</mapper>