<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsl.upmall.mapper.UserMemberDao">

	<resultMap id="BaseResultMap" type="com.zsl.upmall.entity.UserMember">
		<id column="id" property="id" />
		<id column="nick_name" property="nickName" />
		<id column="real_name" property="realName" />
		<id column="weixin_openid" property="weixinOpenid" />
		<id column="mobile" property="mobile" />
		<id column="identity_card" property="identityCard" />
		<id column="avatar" property="avatar" />
		<id column="gender" property="gender" />
		<id column="balance" property="balance" />
		<id column="integral" property="integral" />
		<id column="member_recommended_id" property="memberRecommendedId" />
		<id column="agent_recommended_id" property="agentRecommendedId" />
		<id column="user_level" property="userLevel" />
		<id column="share_id" property="shareId" />
		<id column="last_login_time" property="lastLoginTime" />
		<id column="add_time" property="addTime" />
		<id column="update_time" property="updateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, nick_name, real_name, weixin_openid, mobile, identity_card, avatar, gender, balance, integral, member_recommended_id, agent_recommended_id, user_level, share_id, last_login_time, add_time, update_time
	</sql>
	
</mapper>